<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="news">
            <ion-icon name="information"></ion-icon>
            <ion-label>News</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="pro">
            <ion-icon name="search"></ion-icon>
            <ion-label>Find Pro</ion-label>
        </ion-tab-button>

        <ion-tab-button tab="book">
            <ion-icon name="card"></ion-icon>
            <ion-label>My Booking</ion-label>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>